.victory {
    color: green;
    font-weight: bold;
}
/* Difficulty color classes */
.difficulty-easy {
    color: green;
}
.difficulty-medium {
    color: orange;
}
.difficulty-hard {
    color: red;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 2.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.8em rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.difficulty-select {
    text-align: left;
}
.user-info {
    text-align: right;
}
input {
    padding: 0.8em;
    font-size: 1.25em;
    margin-right: 0.8em;
}
button {
    padding: 0.8em 1.5em;
    font-size: 1.25em;
    cursor: pointer;
}
p {
    font-size: 1.25em;    
}
.correct {
    color: green;
}
.incorrect {
    color: tomato;
}
li {
    list-style-type: none;
}
#note {
    font-size: 0.65em;
    color: #555;
    margin-top: -1.5em
}
