body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.difficulty-select {
    text-align: left;
}

.user-info {
    text-align: right;
}

input {
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
p {
    font-size: 24px;    
}
.correct {
    color: green;
}
.incorrect {
    color: tomato;
}
