<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mrs. McAllister's Math Center{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <!-- Page Content -->
    {% block content %}{% endblock %}

    {% block extra_scripts %}{% endblock %}
</body>
</html>